@charset "UTF-8";

/***********************************************************************************************************************
организация нескольких столбцов
***********************************************************************************************************************/

/* контейнер колонок */

.columns {
	width: 100%;
	display: table;
	margin-bottom: 10px;
}

.columns > div,
.columns > .column {
	display: table-cell;
	max-width: 0; /* эта хрень нужна, чтобы контент внутри колонки не распирал колонку, вываливался из нее.*/
	padding: 0 8px;
	box-sizing: border-box;
	vertical-align: top;
}

.columns.prevent-overflow > .column {
	max-width: none;
}

.columns > div[class*="-percents"],
.columns > .column[class*="-percents"] {
	max-width: 0;
}


.columns > div:first-of-type,
.columns > .column:first-of-type {
	padding-left: 0;
}

.columns > div:last-of-type,
.columns > .column:last-of-type {
	padding-right: 0;
}

/* колонка */

.columns > div > p:last-child {
	margin-bottom: 0;
}

.columns > div > ul,
.column > ul {
	margin: 0 0 10px;
}

.column > ul:last-child {
	margin-bottom: 0;
}

.column > h3:first-child {
	margin-top: 0;
}

